{% extends 'base.html' %}
{% block title %} Nuestros productos {% endblock %}
{%block content %}
<div class="row m-3 z-depth-1">
    <div class="col-12">
        <div class="text-center">
        <h3 class="pb-2 border-bottom mt-2"><strong>{{category}}</strong></h3>
        </div>
    </div>
    {% if products != False %}
    {% for product in products %}
    <div class="col-lg-3 col-md-6 mb-4 mx-3">
        <!-- Card -->
        <div class="card card-ecommerce mt-2">
          <!-- Card image -->
          <div class="view overlay">
            <img src="{{product.principal_image.url}}" class="img-fluid"
              style="max-height: 250px; width: 100%;">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-1">
              <strong>
                <a href="" class="dark-grey-text">{{product.name}}</a>
              </strong>
            </h5>
            <span class="badge badge-danger mb-2">{{product.category}}</span>
            <div class="card-footer pb-0">
              <div class="row mb-0">
              {% if product.offer %}
                <span class="float-left text-warning">
                  <strong>${{product.new_price}}</strong>
                </span>
              {% else %}
              <span class="float-left">
                  <strong>${{product.price}}</strong>
                </span>
              {% endif %}
                <span class="ml-auto">
                  <a  href="/productos/{{product.id}}">
                    <h5>Mas detalles...</h5>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
    {% endfor %}
    {%endif%}

</div>
{% if products != False%}
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        <div class="mx-auto text-center my-4">
            <div class="btn-group">
                {% for i in paginator.page_range %}
                <a href="?page={{i}}" class="btn btn-sm 
                {% if i == page_number %} btn-warning
                {% else %} btn-outline-warning {% endif %}"><h6>{{i}}</h6></a>


                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="col-4"></div>
</div>
{% endif %}

{%endblock%}