{% extends 'base.html' %}
{% load static %}
{%block title %} Administracion {%endblock%}
{% block content %}
<div class="row my-3">
    <div class="col-4  mb-4">
        <div class="card primary-color white-text">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div class="d-none d-md-block">
                    <h3><strong>Productos</strong></h3>
                </div>
                <div class="d-block d-md-none">
                  <h5><strong>Productos</strong></h5>
              </div>
                <div class="d-md-block d-none">
                    <i class="fas fa-shopping-bag fa-4x text-black-40"></i>
                </div>
            </div>
            <a class="card-footer footer-hover small text-center white-text border-0 p-2" href="/admin/productos">Ir<i
                    class="fas fa-arrow-circle-right pl-2"></i></a>
        </div>
    </div>
    <div class="col-4 mb-4">
        <div class="card warning-color white-text">
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="d-none d-md-block">
                      <h3><strong>Categorias</strong></h3>
                  </div>
                  <div class="d-block d-md-none">
                    <h5><strong>Categorias</strong></h5>
                </div>
                <div class="d-md-block d-none">
                    <i class="fas fa-chart-bar fa-4x text-black-40"></i>
                </div>
            </div>
            <a class="card-footer footer-hover small text-center white-text border-0 p-2" href="/admin/categorias">Ir<i
                    class="fas fa-arrow-circle-right pl-2"></i></a>
        </div>
    </div>
    <div class="col-4 mb-4">
        <div class="card light-blue lighten-1 white-text">
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="d-none d-md-block">
                      <h3><strong>Estilos</strong></h3>
                  </div>
                  <div class="d-block d-md-none">
                    <h5><strong>Estilos</strong></h5>
                </div>
                <div class="d-md-block d-none">
                    <i class="fas fa-user-plus fa-4x text-black-40"></i>
                </div>
            </div>
            <a class="card-footer footer-hover small text-center white-text border-0 p-2" href="/admin/estilos">Ir<i
                    class="fas fa-arrow-circle-right pl-2"></i></a>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="float-right">
      <a href="/admin/imagenes" class="btn btn-lg btn-secondary text-center white-text p-2">Imagenes</a>
    </div>
  </div>
</div>
{% if name|lower == "productos" %}
<div class="row">
    <div class="col-1 col-md-2"></div>
    <div class="col-10 col-md-8">
        <div class="container">
            <h4 class="d-inline"><strong>{{name}}</strong>
            </h4>
            <div class="float-right">
                <a href="/nuevo/producto" class="btn btn-primary">Nuevo</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Fecha de subida</th>
                  <th scope="col"></th> 
                </tr>
              </thead>
              <tbody>
                {% for x in objects %}
                <tr>
                    <th scope="row"><a href="/productos/{{x.id}}" target="_blank" rel="noopener noreferrer">{{x.name}}</a></th>
                    <th scope="row">{{x.price}}</th>
                    {% if x.offer %}
                    <th scope="row">En oferta <span class="text-warning">{{x.new_price}}</span>/{{x.price}}</th>
                    {% else %}
                    <th scope="row">Por defecto</span>/{{x.price}}</th>
                    {% endif %}
                    <th scope="row">{{x.category}}</th>
                    <th scope="row">{{x.date}}</th>
                    <th scope="row">
                        <button type="button" class="btn btn-primary btn-sm btn-rounded" onclick="openModal('/editar/producto/{{x.id}}')">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm btn-rounded" onclick="openModal('/borrar/producto/{{x.id}}')">Eliminar</button>
                        
                    </th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
    <div class="col-1 col-md-2"></div>
</div>
{% endif %}
{% if name|lower == "estilos" %}
<div class="row">
    <div class="col-1 col-md-2"></div>
    <div class="col-10 col-md-8">
        <div class="container">
            <h4 class="d-inline"><strong>{{name}}</strong></h4>
            <div class="float-right">
              <button type="button" class="btn btn-primary btn-rounded" onclick="openModal('/editar/estilo/1')">Editar estilos</button>
            </div>
        </div>
    
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                    <th scope="row">Titulo 1 </th>
                    <th scope="row">Titulo 2 </th>
                    <th scope="row">Titulo 3 </th>
                    <th scope="row"> Color del titulo 1 </th>
                    <th scope="row"> Color del titulo 2 </th>
                    <th scope="row"> Color del titulo 3 </th>
                    
                </tr>
              </thead>
              <tbody>
                {% for x in objects %}
                <tr>
                    <th scope="row">{{x.title}}</th>
                    <th scope="row">{{x.title_2}}</th>
                    <th scope="row">{{x.title_3}}</th>
                    <th scope="row">{{x.title_color}}</th>
                    <th scope="row">{{x.title_color_2}}</th>
                    <th scope="row">{{x.title_color_3}}</th>
                </tr>
              </tbody>
            </table>
            <div class="mt-3">
                <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                            
                            <th scope="row">Subitulo 1 </th>
                            <th scope="row">Subtitulo 2 </th>
                            <th scope="row">Subtitulo 3 </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <th scope="row">{{x.subtitle}}</th>
                            <th scope="row">{{x.subtitle_2}}</th>
                            <th scope="row">{{x.subtitle_3}}</th>
                            <th scope="row">{{x.subtitle_color}}</th>
                            <th scope="row">{{x.subtitle_color_2}}</th>
                            <th scope="row">{{x.subtitle_color_3}}</th>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
          <div class="mt-3">
            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                        <th scope="row">Imagen del banner 1 </th>
                        <th scope="row">Imagen del banner 2 </th>
                        <th scope="row">Imagen del banner 3 </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <th scope="row">{{x.status}}</th>
                        <th scope="row">{{x.status_2}}</th>
                        <th scope="row">{{x.status_3}}</th>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="float-right">
                  <a href="/iniciar/estilos" class="btn btn-sm btn-warning">Iniciar estilos</a>
                </div>
          </div>
        </div>
    </div>
</div>
    <div class="col-1 col-md-2"></div>
</div>
{% endif %}
{% if name|lower == "categorias" %}
<div class="row">
    <div class="col-1 col-md-3"></div>
    <div class="col-10 col-md-6">
        <div class="container">
            <h4 class="d-inline"><strong>{{name}}</strong>
            </h4>
            <div class="float-right">
                <a href="/nuevo/categoria" class="btn btn-primary">Nueva</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col"></th> 
                </tr>
              </thead>
              <tbody>
                {% for x in objects %}
                <tr>
                    <th scope="row">{{x.name}}</th>
                    <th scope="row">
                      <button type="button" class="btn btn-primary btn-rounded" onclick="openModal1('{{x.id}}',2)">Editar</button>
                      <button type="button" class="btn btn-danger btn-rounded" onclick="openModal1('{{x.id}}',1)">Eliminar</button>

                    </th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
    <div class="col-1 col-md-3"></div>
</div>
{%endif %}
{% if name|lower == "imagenes" %}
<div class="row">
    <div class="col-1 col-md-3"></div>
    <div class="col-10 col-md-6">
        <div class="container">
            <h4 class="d-inline"><strong>{{name}}</strong>
            </h4>
            <div class="float-right">
                <a href="/nuevo/imagen" class="btn btn-primary">Nueva</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">URL</th> 
                </tr>
              </thead>
              <tbody>
                {% for x in objects %}
                <tr>
                    <th scope="row">{{x.name}}</th>
                    <th scope="row">{{x.url}}</th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
    <div class="col-1 col-md-3"></div>
</div>
{%endif %}
<div class="modal fade" id="edicion" role="dialog">
</div>
{% endblock %}
{% block js %}
<script>
  function openModal(url){
    $("#edicion").load(url,function(){
        $("#edicion").modal("show")
    })
  }
  function openModal1(url,type){
    if(type == 1){
      $("#edicion").load("/borrar/categoria/"+url,function(){
        $("#edicion").modal("show")
    })
    } else {
      $("#edicion").load("/editar/categoria/"+url,function(){
        $("#edicion").modal("show")
    })
    }
  }
</script>
{%endblock %}