<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">


        <div class="modal-header">
            <h2 class="modal-title">{{old_category}}</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form  method="post" action="/borrar/categoria/{{old_category}}" enctype="multipart/form-data">
                {% csrf_token %}
                <h5><strong>¿Estas seguro que deseas eliminar la categoria {{old_category}}?</strong></h5>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary btnSave" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
        
    </div>
</div>