{% extends 'base.html' %}
{% block title%}¿Como comprar?{%endblock%}
{% block content %}
<div class="row">
    <div class=" m-3 z-depth-1">
        <div class="col-12">
            <div class="text-center my-1">
                <h3><strong>¿Quienes somos?</strong></h3>
            </div>
        </div>
        <div class="col-12">
            <p><strong>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quas nostrum odit saepe, minima totam dolorum temporibus veritatis doloremque dignissimos, officiis iure maiores tempore quaerat qui voluptatum eveniet et? Quibusdam.
             Exercitationem nam, sequi quod sint quisquam velit. Natus praesentium, veniam sunt aliquam laborum aut recusandae dolorum aspernatur eveniet nemo tempore. Et minima harum aperiam sit voluptatibus quasi, sequi voluptates nisi.
             Soluta magni consequatur dolorem suscipit dolorum fugiat nulla expedita architecto ipsam ex quidem, eveniet voluptate nihil hic. Alias quas asperiores blanditiis temporibus voluptas numquam eum, hic voluptate expedita saepe vel!
             Iste aperiam consequuntur molestias voluptate ab iure cupiditate optio exercitationem assumenda vel incidunt esse omnis explicabo, quidem voluptatum sapiente nostrum sint ullam fugiat accusantium animi deleniti vitae! Fugit, corporis incidunt?
             Doloremque atque eveniet aliquid aut, iure perferendis cumque eius laboriosam dicta! Animi non ipsam voluptatem, earum nemo temporibus possimus nobis, neque eius doloribus molestias cupiditate aspernatur eveniet sunt vitae rem?
             Natus mollitia libero dolore odit eligendi? Ea ipsa nobis facilis mollitia quod! Aliquid explicabo ex, doloribus mollitia reprehenderit quia quasi incidunt nesciunt tenetur consequatur! Quis non vel exercitationem rerum impedit!
             Necessitatibus et perspiciatis est delectus fugit animi, adipisci, deserunt quis nemo provident inventore facere dicta fuga repudiandae quasi? Eaque, maxime illum dolore natus quam laborum reiciendis delectus quisquam numquam velit!
             Molestiae, iste iusto beatae nesciunt recusandae, natus laboriosam atque, nisi nihil laudantium facere error nobis tempore exercitationem quidem. Eius, accusamus. Quis numquam sit non natus. Officia eum doloribus odit totam.   
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa temporibus impedit, eum quaerat, totam obcaecati quibusdam corporis expedita alias quam eveniet. Similique impedit eligendi nulla. Reprehenderit officia ipsam blanditiis corporis.Quasi animi eius quae libero veritatis, praesentium corporis et eum, exercitationem est in, facilis sit! Adipisci maxime incidunt molestiae molestias veritatis assumenda officiis odio, harum, alias quis explicabo non ea!
            </strong></p>
        </div>
    </div>
</div>

{%endblock%}